
<ion-header translucent padding class="barra">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Ayuda - Chat</ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>
  
</ion-header>

<ion-content class="card-background-page">

    <ion-card>
      <img src="/assets/chat.jpg">
      <div class="card-title">Chat</div>
      <div class="card-subtitle">Soporte en línea</div>
    </ion-card>
  
  </ion-content>

<ion-footer>

</ion-footer>