<ion-header translucent padding class="barra">

    <ion-toolbar color="depo">

        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light">Mi Avatar</ion-title>

        <ion-buttons slot="end">
            <ion-button color="light">
                <ion-icon src="/assets/escudito.svg" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>

</ion-header>
<ion-grid>
    <ion-row>
        <ion-col size="3">
            <div id="categorias" style="display: flex; flex-direction:column;">
                <button (click)="cambiarpiel()" type="button" class="btn redondos b-estilo-1">
                    <img src="assets/S_PIEL.svg" width="50px"/>
                </button>
                <button (click)="cambiarpelo()" type="button" class="btn redondos b-estilo-2">
                    <img src="assets/S_CABELLO.svg" width="50px"/>
                </button>
                <button (click)="cambiarojos()" type="button" class="btn redondos b-estilo-3">
                    <img src="assets/S_OJOS.svg" width="50px"/>
                </button>
                <button (click)="cambiarropa()" type="button" class="btn redondos b-estilo-4">
                    <img src="assets/S_ROPA.svg" width="50px"/>
                </button>
            </div>
        </ion-col>
        <ion-col size="9">
            <div style="background-size: contain; text-align: center;" id="macho" class=" w-100 opciones">
                <div style="width: 255px; margin: 0 auto; height: 1vh;">
                    <img height class="mt-0" src="assets/avatar-hombre/pelo/{{pelo}}" width="60%" style="position: relative; z-index: 100; top: -9px; text-align: center; left: 1px;">
                    <img height class="mt-0" src="assets/avatar-hombre/ojos/{{ojos}}" width="35%" style="position: relative; z-index: 100; top: 35px; text-align: center; left: -121px;">
                    <img class="mt-0" src="assets/avatar-hombre/piel/{{piel}}" width="65%" style="z-index: 90; position: relative; top: -97px; left: -43px">
                    <img class="mt-0" style="display: block; position: relative; z-index: 80; top: -222px; left: 1px;" width="65%" src="assets/avatar-hombre/ropa/{{ropa}}">
                </div>

            </div>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-row *ngIf="activapiel">
    <ion-col text-center>
        <div id="opciones">
            <button (click)="asignarPiel('avatar-hombre-separado-piel-01.svg')" type="button" class="btn redondos b-op-1">
            <img src="assets/avatar-hombre/piel/avatar-hombre-separado-piel-01.svg" width="50px"/>
          </button>
            <button (click)="asignarPiel('avatar-hombre-separado-piel-02.svg')" type="button" class="btn redondos b-op-2">
            <img src="assets/avatar-hombre/piel/avatar-hombre-separado-piel-02.svg" width="50px"/>
          </button>
            <button (click)="asignarPiel('avatar-hombre-separado-piel-03.svg')" type="button" class="btn redondos b-op-3">
            <img src="assets/avatar-hombre/piel/avatar-hombre-separado-piel-03.svg" width="50px"/>
          </button>
        </div>
    </ion-col>
</ion-row>
<ion-row *ngIf="activapelo">
    <ion-col text-center class="ion-margin-bottom">
        <div id="opciones">
            <ion-slides pager="false" [options]="slideOpts">
                <ion-slide>

                    <ion-img (click)="asignarPelo('avatar-hombre-separado-pelo-01-08.svg')" src="assets/avatar-hombre/pelo/avatar-hombre-separado-pelo-01-08.svg" width="50px"></ion-img>

                    <ion-img (click)="asignarPelo('avatar-hombre-separado-pelo-02-09.svg')" src="assets/avatar-hombre/pelo/avatar-hombre-separado-pelo-02-09.svg" width="50px"></ion-img>

                    <ion-img (click)="asignarPelo('avatar-hombre-separado-pelo-03-10.svg')" src="assets/avatar-hombre/pelo/avatar-hombre-separado-pelo-03-10.svg" width="50px"></ion-img>

                </ion-slide>
                <ion-slide>

                    <ion-img (click)="asignarPelo('avatar-hombre-separado-pelo-04-11.svg')" src="assets/avatar-hombre/pelo/avatar-hombre-separado-pelo-04-11.svg" width="50px"></ion-img>

                    <ion-img (click)="asignarPelo('avatar-hombre-separado-pelo-05-12.svg')" src="assets/avatar-hombre/pelo/avatar-hombre-separado-pelo-05-12.svg" width="50px"></ion-img>

                    <ion-img (click)="asignarPelo('avatar-hombre-separado-pelo-06-13.svg')" src="assets/avatar-hombre/pelo/avatar-hombre-separado-pelo-06-13.svg" width="50px"></ion-img>


                </ion-slide>
                <ion-slide>

                    <ion-img (click)="asignarPelo('avatar-hombre-separado-pelo-07-14.svg')" src="assets/avatar-hombre/pelo/avatar-hombre-separado-pelo-07-14.svg" width="50px"></ion-img>

                    <ion-img (click)="asignarPelo('avatar-hombre-separado-pelo-08-15.svg')" src="assets/avatar-hombre/pelo/avatar-hombre-separado-pelo-08-15.svg" width="50px"></ion-img>

                    <ion-img (click)="asignarPelo('avatar-hombre-separado-pelo-09-16.svg')" src="assets/avatar-hombre/pelo/avatar-hombre-separado-pelo-09-16.svg" width="50px"></ion-img>

                </ion-slide>
            </ion-slides>

        </div>
    </ion-col>
</ion-row>
<ion-row *ngIf="activaojos">
    <ion-col text-center>
        <div id="opciones">

            <button (click)="asignarOjo('avatar-hombre-separado-ojos-01-17.svg')" type="button" class="btn redondos b-op-1">
            <img src="assets/avatar-hombre/ojos/avatar-hombre-separado-ojos-01-17.svg" width="50px"/>
          </button>
            <button (click)="asignarOjo('avatar-hombre-separado-ojos-01-17-18.svg')" type="button" class="btn redondos b-op-2">
            <img src="assets/avatar-hombre/ojos/avatar-hombre-separado-ojos-01-17-18.svg" width="50px"/>
          </button>
            <button (click)="asignarOjo('avatar-hombre-separado-ojos-02-19.svg')" type="button" class="btn redondos b-op-3">
            <img src="assets/avatar-hombre/ojos/avatar-hombre-separado-ojos-02-19.svg" width="50px"/>
          </button>
            <button (click)="asignarOjo('avatar-hombre-separado-ojos-03-20.svg')" type="button" class="btn redondos b-op-3">
            <img src="assets/avatar-hombre/ojos/avatar-hombre-separado-ojos-03-20.svg" width="50px"/>
          </button>
            <button (click)="asignarOjo('avatar-hombre-separado-ojos-04-21.svg')" type="button" class="btn redondos b-op-3">
            <img src="assets/avatar-hombre/ojos/avatar-hombre-separado-ojos-04-21.svg" width="50px"/>
          </button>
        </div>
    </ion-col>
</ion-row>
<ion-row *ngIf="activaropa">
    <ion-col text-center>
        <div id="opciones">
            <button (click)="asignarRopa('avatar-hombre-separado-ropa-01.svg')" type="button" class="btn redondos b-op-1">
            <img src="assets/avatar-hombre/ropa/avatar-hombre-separado-ropa-01.svg" width="50px"/>
          </button>
            <button (click)="asignarRopa('avatar-hombre-separado-ropa-02.svg')" type="button" class="btn redondos b-op-2">
            <img src="assets/avatar-hombre/ropa/avatar-hombre-separado-ropa-02.svg" width="50px"/>
          </button>
            <button (click)="asignarRopa('avatar-hombre-separado-ropa-03.svg')" type="button" class="btn redondos b-op-3">
            <img src="assets/avatar-hombre/ropa/avatar-hombre-separado-ropa-03.svg" width="50px"/>
          </button>
        </div>
    </ion-col>
</ion-row>

<ion-fab horizontal="end" vertical="center" slot="fixed" activated>
    <ion-fab-button (click)="actualizarAvatar()">
        <ion-icon name="md-checkmark"></ion-icon>
    </ion-fab-button>
    <!-- <ion-fab-list>
        <ion-fab-button color="primary" (click)="actualizarAvatar()">
            <ion-icon name="md-checkmark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="primary">
            <ion-icon name="md-close"></ion-icon>
        </ion-fab-button>

    </ion-fab-list> -->
</ion-fab>


<!-- <ion-footer>
    <ion-row>
        <ion-col>
            <ion-button (click)="actualizarAvatar()" shape="round" class="shadow-blue" type="submit" expand="full">
                <ion-icon name="ios-add-circle-outline" size="large"></ion-icon>&nbsp;Guardar</ion-button>

        </ion-col>

    </ion-row>
</ion-footer> -->