<ion-header translucent padding class="barra-cotiza">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Cotizar seguro</ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>

</ion-header>

<ion-content fullscreen>
  <ion-list lines="inset" padding>
    <ion-list-header>
      <ion-label >Categorias</ion-label>
    </ion-list-header>
    <ion-item  detail *ngFor="let c of categorias; let i = index"  (click)="detalle(c.id)" >
        {{c.nombre}}
    </ion-item>
  </ion-list>

  

</ion-content>
