<ion-header translucent padding class="barra">
  
  <ion-toolbar color="depo">
    
  <ion-buttons slot="start">
    <ion-menu-button color="light"></ion-menu-button>
  </ion-buttons>  
      <ion-title color="light">Crear seguro</ion-title>
      
   <ion-buttons slot="end">
          <ion-button color="light">
          <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
          
          </ion-button>
      </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content>


<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Caracteristicas del producto</ion-card-subtitle>
    <ion-card-title>Detalles Tomador</ion-card-title>
  </ion-card-header>

  <ion-card-content>
          
   <form>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">



          <ion-item>
              <ion-label position="stacked">Titulo<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="text" [(ngModel)]="titulo" id="titulo" name="titulo"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Nombre<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="text" [(ngModel)]="nombre" id="nombre" name="nombre"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label position="stacked">Apellidos<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="text" [(ngModel)]="apellido" id="apellido" name="apellido"></ion-input>
            </ion-item>
    
            
            <ion-item>
                <ion-label position="stacked">Cédula<ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="text" [(ngModel)]="cedula" id="cedula" name="cedula"></ion-input>
            </ion-item>
    
            <ion-item>
                <ion-label>Fecha de Nacimiento</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" min="1960-01-01" max="2020-01-01" [(ngModel)]="nacimiento" id="nacimiento" name="nacimiento"></ion-datetime>
              </ion-item>
    
    
               <ion-item>
                <ion-label>Genero</ion-label>
                <ion-select name="genero" [(ngModel)]="genero" id="genero" placeholder="sexo">
                    <ion-select-option value="masculino">Másculino</ion-select-option>
                    <ion-select-option value="femenino">Femenino</ion-select-option>
                </ion-select>
              </ion-item>
    
    
            <ion-item>
                <ion-label>Fin de Vigencia</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" min="1960-01-01" max="2030-12-12" placeholder="Fecha"  [(ngModel)]="vigencia" id="vigencia" name="vigencia"></ion-datetime>
            </ion-item>
    
            <ion-item>
                <ion-label>Aseguradora</ion-label>
              <ion-select [(ngModel)]="aseguradora" name="aseguradora" interface="popover" placeholder="categoria"> 
                <!-- <ion-select name="seguro" interface="popover" placeholder="Aseguradora"> -->
                  <ion-select-option *ngFor="let l of listaseguro" value="{{ l.id }}">{{l.nombre}}</ion-select-option>
                </ion-select>
              </ion-item>
    
              <ion-item>
    
                  <ion-label position="stacked">Valor de seguro<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required type="text" [(ngModel)]="valor" id="valor" name="valor"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Marca<ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="text" [(ngModel)]="marca" id="marca" name="marca" ></ion-input>
            </ion-item>
    
              <ion-item>
                  <ion-label position="stacked">Referencia<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required type="text" [(ngModel)]="referencia" id="referencia" name="referencia"></ion-input>
              </ion-item>

              <input type="file" id="documento" (change)="handleFileSelect($event)">

      </ion-list>

      <div class="ion-padding">
        <ion-button (click)="ActualizarPerfil()" expand="block" class="shadow-blue" type="submit" class="ion-no-margin" shape="round">Crear producto</ion-button>
      </div>

    </form>
  </ion-card-content>
</ion-card>



</ion-content>
