<ion-header translucent padding class="barra">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Mi Perfil</ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>

</ion-header>

<ion-content padding>


  <div  text-center>


    
    <img src="/assets/avatar.jpg" width="150" class="avatar">

    <h1>Mi Perfil</h1>
    
       <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-xs="12">
         <div>
            <ion-item>
            <ion-input name="name" type="text" placeholder="Nombre" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="cedula" type="number" placeholder="Cédula" ngModel required></ion-input>
            </ion-item>

            <ion-item>
               <ion-input name="email" type="email" placeholder="Email" ngModel required></ion-input>
             </ion-item>

            <ion-item>

              <ion-select name="Sexo" placeholder="Sexo">
                <ion-select-option value="brown">Másculimo</ion-select-option>
                <ion-select-option value="blonde">Femenino</ion-select-option>
              </ion-select>
              
            </ion-item>
            <ion-item>
              <ion-input name="Teléfono" type="number" placeholder="Teléfono" ngModel required></ion-input>
            </ion-item>

           
         
          <div text-left>
            <h4>Contraseña de Acceso</h4>
          </div>

            <ion-item>
              <ion-input name="password" type="password" placeholder="Cambiar Contraseña" ngModel required></ion-input>
            </ion-item>
            
            



          </div>
          <div padding>
            <ion-button shape="round" class="shadow-blue" type="submit" expand="full" [routerLink]="['/home']">Guardar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
   
  </div>





</ion-content>
