<ion-header translucent padding class="barra">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Mis Seguros - Detalle</ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>

</ion-header>

<ion-content>

   
<ion-card *ngFor="let d of info; let i = index">
<div  *ngIf="d.estado == 'aprobado'">

</div>
  <ion-item color="secondary">
    <ion-avatar item-start>
      <img src="/assets/se.jpg">
    </ion-avatar><ion-badge color="success" slot="end">Póliza de {{d?.titulo}}</ion-badge>
  </ion-item>

  <img src="/assets/a1.jpg">

  <ion-card-content>
    <br> <h2><ion-text color="dark" strong>Información:</ion-text></h2>
    <p> Vigencia: <ion-text color="dark">{{d?.fecha}}</ion-text> <br> </p>  
    <p> Monto asegurado: <ion-text color="dark">${{d?.valor}}</ion-text> <br> </p> <br> 
    <a href="https://appsegurado.digit4lcore.com/app/{{d.adicional}}" download class="item item-icon-left item-icon-right item-balanced">
        Descarga póliza .PDF
    </a>
  </ion-card-content>

  
</ion-card>



</ion-content>
