<ion-header translucent>
      <ion-toolbar>
        <ion-title>Bienvenido AppSegurado</ion-title>
      </ion-toolbar>
    </ion-header>

<ion-content fullscreen padding scroll-y="false">
       <ion-slides pager="true" [options]="slideOpts" class="swiper-slide">

        <ion-slide >
          <img src="/assets/slide-1.png">
          <h2>Te damos la bienvenida a nuestra <b>Aplicación</b></h2>
          <p>En <b>Appsegurado</b> podrás organizar tus polizas de seguro de una manera muy fácil</p>
        </ion-slide>

        <ion-slide>
          <img src="/assets/slide-2.png">
          <h2>Nunca olvides tus pagos</h2>
          <p><b>Puedes crear alertas y cotizar</b> con las aseguradoras más importantes tus seguros</p>
        </ion-slide>

        <ion-slide>
          <img src="/assets/slide-3.png">
          <h2>Ahorras siempre</h2>
          <p><b>Ahorra tiempo y dinero comparando</b> y teniendo a la mano la mejor opcion.</p>
        </ion-slide>

        <ion-slide>
          <img src="/assets/slide-4.png">
          <h2>Listo para empezar?</h2>
          <ion-button fill="clear" [routerLink]="['/home']">Continuar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>

      </ion-slides>
    </ion-content>