<ion-header translucent padding class="barra">
  
  <ion-toolbar color="depo">
    
  <ion-buttons slot="start">
    <ion-menu-button color="light"></ion-menu-button>
  </ion-buttons>  
      <ion-title color="light">Crear Cotización</ion-title>
      
   <ion-buttons slot="end">
          <ion-button color="light">
          <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
          
          </ion-button>
      </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content>


<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Caracteristicas del producto</ion-card-subtitle>
    <ion-card-title>Detalles Appsegurado</ion-card-title>
  </ion-card-header>

  <ion-card-content>
          
   <form>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">



          <ion-item>
              <ion-label position="stacked">Titulo<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="text" [(ngModel)]="titulo" id="titulo" name="titulo"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Nombre<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="text" [(ngModel)]="nombre" id="nombre" name="nombre"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label position="stacked">Apellidos<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="text" [(ngModel)]="apellido" id="apellido" name="apellido"></ion-input>
            </ion-item>
    
            
            <ion-item>
                <ion-label position="stacked">Cédula<ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="text" [(ngModel)]="cedula" id="cedula" name="cedula"></ion-input>
            </ion-item>
    
            <ion-item>
                <ion-label>Fecha de Nacimiento</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" [(ngModel)]="nacimiento" id="nacimiento" name="nacimiento"></ion-datetime>
              </ion-item>
    
    
               <ion-item>
                <ion-label>Genero</ion-label>
                <ion-select name="genero" [(ngModel)]="genero" id="genero" placeholder="sexo">
                    <ion-select-option value="masculino">Másculino</ion-select-option>
                    <ion-select-option value="femenino">Femenino</ion-select-option>
                </ion-select>
              </ion-item>
    
    
            <ion-item>
                <ion-label>Fin de Vigencia</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" min="1960-01-01" max="2020-01-01" placeholder="Fecha"  [(ngModel)]="vigencia" id="vigencia" name="vigencia"></ion-datetime>
            </ion-item>
    
              <ion-item>
                  <ion-label position="stacked">Marca<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required type="text" [(ngModel)]="marca" id="marca" name="marca" ></ion-input>
              </ion-item>
    
              <ion-item>
                  <ion-label position="stacked">Placa<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required type="text" [(ngModel)]="placa" id="placa" name="placa"></ion-input>
              </ion-item>

      </ion-list>

      <div class="ion-padding">
        <ion-button (click)="ActualizarPerfil()" expand="block" class="shadow-blue" type="submit" class="ion-no-margin" shape="round">Cotizar</ion-button>
      </div>
    </form>
  </ion-card-content>
</ion-card>



</ion-content>