<ion-header translucent padding class="barra">
  
  <ion-toolbar color="depo">
    
  <ion-buttons slot="start">
    <ion-menu-button color="light"></ion-menu-button>
  </ion-buttons>  
      <ion-title color="light">Mis Cotizaciones - Detalle</ion-title>
      
   <ion-buttons slot="end">
          <ion-button color="light">
          <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
          
          </ion-button>
      </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content>




<div *ngFor="let p of cotizaciones; let i of index">

      
    <ion-card  *ngIf="p.estado == 'cotizado'">
      
        <ion-item color="secondary">
            <ion-avatar item-start>
              <img src="/assets/se.jpg">
            </ion-avatar><ion-badge color="success" slot="end"></ion-badge>
          </ion-item>

          <img src="/assets/a1.jpg">
      <ion-card-content>
        <br> <h2><ion-text color="dark" strong>Información:</ion-text></h2>
        <p> nombre: <ion-text color="dark">{{p.seguro.nombre}}</ion-text> <br> </p>  
        <p> estado: <ion-text color="dark">{{p.estado}}</ion-text> <br> </p> 
        <a href="{{p.documento}}" download class="item item-icon-left item-icon-right item-balanced">
            Descarga póliza .PDF
        </a>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>