<ion-header translucent padding class="barra">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Crear seguro </ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>

</ion-header>

<ion-content fullscreen>
  <ion-list lines="inset" padding>

    <ion-list-header>
      <ion-label >Categorias</ion-label>
    </ion-list-header>

    <!-- <ion-item detail [routerLink]="['/asegurapoliza']">Mi Familia</ion-item>
    <ion-item detail>Mi Hogar</ion-item>
    <ion-item detail>Salud</ion-item>
    <ion-item detail>Mis Cosas</ion-item>
    <ion-item detail>Movilidad</ion-item> -->

    <ion-item  *ngFor="let c of categorias; let i = index"  (click)="detalle(c.id)" >
        {{c.nombre}}
    </ion-item>

  </ion-list>

</ion-content>
