<ion-header translucent padding class="barra-cotiza">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Cotizar seguro</ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>

</ion-header>

<ion-content>
    <ion-item  detail *ngFor="let s of seguros; let i = index"  (click)="detalle(s.producto.id)" >
        {{s.producto.nombre}}
    </ion-item>
</ion-content>
