<ion-header translucent padding class="barra-aseguradoras">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Aseguradoras - Detalle</ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>

</ion-header>
<ion-content>

<ion-card>
        <img src="/assets/a1.jpg">
        <ion-card-header>
          <ion-badge color="danger">Aseguradora</ion-badge>
          <ion-card-title>Seguros del Estado</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <p>Seguros Del Estado S. A. Fue creada en el año 1956 de la unión entre un grupo Inglés y uno Antioqueño con la denominación de Compañías Aliadas de Seguros S. A. </p>
            
        <p><ion-text color="dark"><h2>Líneas de asistencia:</h2></ion-text> 
        Bogotá: <ion-text color="dark">307 8288 </ion-text> <br>
        Celular: <ion-text color="dark">#388 </ion-text><br>
        Teléfono: <ion-text color="dark">01 8000 123 010</ion-text></p>
      
      <p><ion-text color="dark"><h2>Oficina Principal</h2></ion-text></p>

      Carrera 11 # 90 - 20<br>
      Bogotá D.C. - Colombia.

       </ion-card-content>
        
     
     </ion-card>

</ion-content>
