<ion-header translucent padding class="barra-aseguradoras">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Aseguradoras - Directorio</ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>

</ion-header>

<ion-content>


<ion-item-group>

      <ion-item detail *ngFor="let s of seguros" (click)="detalle(s.id)">{{s.nombre}}</ion-item>

</ion-item-group>

</ion-content>
