<ion-header translucent padding class="barra">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Ayuda - Respuestas</ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list padding>
        <ion-list-header padding>
          Preguntas Frecuentes
        </ion-list-header>

        <ion-item>
          <ion-label>
            <h2>Tiene Costo Descargar la Applicación</h2>
            <h3>NO tiene costo</h3>
            <p>Descxarga ya desde el appstore tu aplciaci`ón gratis</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Tiene Costo Descargar la Applicación</h2>
            <h3>NO tiene costo</h3>
            <p>Descxarga ya desde el appstore tu aplciaci`ón gratis</p>
          </ion-label>
        </ion-item> <ion-item>
          <ion-label>
            <h2>Tiene Costo Descargar la Applicación</h2>
            <h3>NO tiene costo</h3>
            <p>Descxarga ya desde el appstore tu aplciaci`ón gratis</p>
          </ion-label>
        </ion-item> <ion-item>
          <ion-label>
            <h2>Tiene Costo Descargar la Applicación</h2>
            <h3>NO tiene costo</h3>
            <p>Descxarga ya desde el appstore tu aplciaci`ón gratis</p>
          </ion-label>
        </ion-item> <ion-item>
          <ion-label>
            <h2>Tiene Costo Descargar la Applicación</h2>
            <h3>NO tiene costo</h3>
            <p>Descxarga ya desde el appstore tu aplciaci`ón gratis</p>
          </ion-label>
        </ion-item>
         <ion-item>
          <ion-label>
            <h2>Tiene Costo Descargar la Applicación</h2>
            <h3>NO tiene costo</h3>
            <p>Descxarga ya desde el appstore tu aplciaci`ón gratis</p>
          </ion-label>
        </ion-item> <ion-item>
          <ion-label>
            <h2>Tiene Costo Descargar la Applicación</h2>
            <h3>NO tiene costo</h3>
            <p>Descxarga ya desde el appstore tu aplciaci`ón gratis</p>
          </ion-label>
        </ion-item> <ion-item>
          <ion-label>
            <h2>Tiene Costo Descargar la Applicación</h2>
            <h3>NO tiene costo</h3>
            <p>Descxarga ya desde el appstore tu aplciaci`ón gratis</p>
          </ion-label>
        </ion-item> <ion-item>
          <ion-label>
            <h2>Tiene Costo Descargar la Applicación</h2>
            <h3>NO tiene costo</h3>
            <p>Descxarga ya desde el appstore tu aplciaci`ón gratis</p>
          </ion-label>
        </ion-item> <ion-item>
          <ion-label>
            <h2>Tiene Costo Descargar la Applicación</h2>
            <h3>NO tiene costo</h3>
            <p>Descxarga ya desde el appstore tu aplciaci`ón gratis</p>
          </ion-label>
        </ion-item> <ion-item>
          <ion-label>
            <h2>Tiene Costo Descargar la Applicación</h2>
            <h3>NO tiene costo</h3>
            <p>Descxarga ya desde el appstore tu aplciaci`ón gratis</p>
          </ion-label>
        </ion-item>





      </ion-list>

</ion-content>
