<ion-header translucent padding class="barra">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Crear seguro </ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>

</ion-header>

<ion-content>



  <ion-content fullscreen>
  <ion-list lines="inset">
    <ion-list-header>
      <ion-label >Tipo de Producto</ion-label>
    </ion-list-header>
<!--     <ion-item detail [routerLink]="['/crearseguro']">Seguros Mundial</ion-item>
    <ion-item detail>Zurich</ion-item>
    <ion-item detail>Seguros del estado</ion-item>
    <ion-item detail>Colseguros</ion-item>
    <ion-item detail>Sura</ion-item> -->


    <ion-item  *ngFor="let s of seguros; let i = index" (click)="detalle(s.producto.id)">
        {{s.producto.nombre}}
    </ion-item>
  
  </ion-list>

</ion-content>
