<ion-app>
  <ion-split-pane>
    <ion-menu menuId="first">
      <ion-header>
        <ion-toolbar color="light">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="light">
        <ion-list> 
          <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages">
            
            <ion-item lines="none" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item (click)="logout()">
              <ion-label>
                  <ion-button class="logout" expand="block" shape="round" fill="outline">Cerrar Sesión</ion-button>
                </ion-label>
          </ion-item>

        </ion-list>

        
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>



