<ion-header translucent padding class="barra">
  
    <ion-toolbar color="depo">
      

        <ion-title color="light">AppSegurado - Registro</ion-title>
        
     <ion-buttons slot="start">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>

</ion-header>


<ion-content>
    <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-xs="12">
         <div padding>
              <h4>Tus Datos</h4>
            <ion-item>
            <ion-input name="name" type="text" placeholder="Nombres y Apellidos" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="cedula" type="number" placeholder="Cédula" ngModel required></ion-input>
            </ion-item>

            <ion-item>
               <ion-input name="email" type="email" placeholder="Email" ngModel required></ion-input>
             </ion-item>

            <ion-item>

              <ion-select name="genero" ngModel id="genero" placeholder="sexo">
                <ion-select-option value="masculino">Másculino</ion-select-option>
                <ion-select-option value="femenino">Femenino</ion-select-option>
              </ion-select>

              
            </ion-item>
            <ion-item>
              <ion-input name="telefono" type="number" placeholder="Teléfono" ngModel required></ion-input>
            </ion-item>

           
         
          <div text-left>
            <h4>Contraseña de Acceso</h4>
          </div>

            <ion-item>
              <ion-input name="password" type="password" placeholder="Contraseña" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Verificar contraseña" ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Acepto términos y condiciones</ion-label>
              <ion-toggle checked slot="end" ></ion-toggle>
            </ion-item>



          </div>
          <div padding>
            <ion-button type="submit" shape="round" class="shadow-blue" type="submit" expand="full">Registrarme</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>