ion-content{
    //--ion-background-color: #E2E2E2 !important;
    //color: white;
}
.ion-icon-header-icon{
    font-size: 4rem!important;
}

ion-card-subtitle{
    color: #212529;
}

.condiciones{
    font-size: 0.8em;
    display: inherit;
}