<ion-header translucent padding class="barra">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Mis Seguros</ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>

</ion-header>

<ion-content text-center>

  <div><h4>Agregar tus Pólizas de seguro</h4></div>


<ion-item lines="none">
  <ion-button [routerLink]="['/categorias']" size="default" slot="end" shape="round" color="primary">
    <ion-icon name="ios-add-circle-outline" slot="start">
    </ion-icon>
    AGREGAR
  </ion-button>
  <ion-label color="medium">Crea una poliza nueva</ion-label>
  </ion-item >

<ion-item>
  <ion-label position="stacked">Tus Seguros</ion-label>
</ion-item>

<ion-item *ngFor="let s of seguros; let i = index">
  
    <ion-card *ngIf="s.estado == 'aprobado'">
      <ion-card-content padding>
        <ion-label padding>
          <h2>{{s.titulo}}</h2>
          <p>{{s.seguro.nombre}}</p>
          <ion-text color="tertiary">{{s.fecha}}</ion-text>
        </ion-label>
        <ion-button fill="outline" slot="end" shape="round" color="primary" (click)="detalle(s.id)">Detalles
            <ion-icon name="ios-add-circle-outline" slot="start"></ion-icon>
        </ion-button>
    </ion-card-content>
  </ion-card>

  </ion-item>

</ion-content>

