<ion-header translucent padding class="barra">

    <ion-toolbar color="depo">

        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light">AppSegurado</ion-title>

        <ion-buttons slot="end">
            <ion-button color="light">
                <ion-icon src="/assets/escudito.svg" size="large"></ion-icon>

            </ion-button>
        </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content text-center>
    <div class="flex-container">
        <div style="background-size: contain; text-align: center; height: 75%;" id="macho" class="w-100 opciones">
            <div style="width: 295px; margin: 0 auto; height: 63vh;">
                <img height class="mt-0 img-fluid" src="assets/avatar-hombre/pelo/{{pelo}}" width="60%" style="position: relative; z-index: 100; top: 10px; text-align: center; left: 54px;">
                <img height class="mt-0 img-fluid" src="assets/avatar-hombre/ojos/{{ojos}}" width="35%" style="position: relative; z-index: 100; top: 62px; text-align: center; left: -90px;">
                <img class="mt-0 img-fluid" src="assets/avatar-hombre/piel/{{piel}}" width="65%" style="z-index: 90; position: relative; top: -94px;">
                <img class="mt-0 img-fluid" style="display: block; position: relative; z-index: 80; top: -242px; left: 50px;" width="65%" src="assets/avatar-hombre/ropa/{{ropa}}">
            </div>
            <div padding>
                <ion-button shape="round" class="shadow-blue" type="submit" expand="full" [routerLink]="['/misseguros']">
                    <ion-icon name="ios-add-circle-outline" size="large"></ion-icon>&nbsp;Mis Seguros</ion-button>
                <ion-button shape="round" class="shadow-blue" type="submit" expand="full" (click)="VerificarSarlaft()" color="secondary">
                    <ion-icon name="md-pricetags"></ion-icon>&nbsp;Cotizar Seguros</ion-button>
                <ion-button shape="round" class="shadow-blue" type="submit" expand="full" [routerLink]="['/aseguradoras']" color="tertiary">
                    <ion-icon name="md-bookmarks"></ion-icon>&nbsp;Dir. Aseguradoras</ion-button>
            </div>
        </div>
    </div>
    <!-- <ion-row justify-content-center style="height: 52%"> -->
    <!-- <ion-col align-self-center size-xs="12" padding> -->
    <!-- <div style="background-size: contain; text-align: center; height: 100%;" id="macho" class="w-100 opciones">
                <div style="width: 80%; margin: 0 auto">
                    <img height class="mt-0" src="assets/avatar-hombre/pelo/{{pelo}}" width="60%" style="position: relative; z-index: 100; top: 10px; text-align: center; left: 54px;">
                    <img height class="mt-0" src="assets/avatar-hombre/ojos/{{ojos}}" width="35%" style="position: relative; z-index: 100; top: 7px; text-align: center; left: -84px;">
                    <img class="mt-0" src="assets/avatar-hombre/piel/{{piel}}" width="65%" style="z-index: 90; position: relative; top: -94px;">
                    <img class="mt-0" style="display: block; position: relative; z-index: 80; top: -242px; left: 50px;" width="65%" src="assets/avatar-hombre/ropa/{{ropa}}">
                </div>
            </div> -->
    <!-- </ion-col> -->
    <!-- </ion-row> -->

    <!-- <ion-row justify-content-center style="height: 40%"> -->
    <!-- <ion-col align-self-center size-xs="12" padding> -->

    <!-- </ion-col> -->
    <!-- </ion-row> -->


    <ion-fab horizontal="end" vertical="top" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="primary" [routerLink]="['/ayuda']">
                <ion-icon name="md-help-circle"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="primary" [routerLink]="['/chat']">
                <ion-icon name="md-chatboxes"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="primary" [routerLink]="['/categorias']">
                <ion-icon name="md-add-circle"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>