<ion-header translucent padding class="barra-cotiza">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Cotizar - Aseguradora</ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>

</ion-header>

<ion-content>
<!-- *ngIf="member.seguro == '!null'" -->
    <div *ngIf="testList.length > 0">
        <form>
         <ion-row  class="cotizar-form" *ngFor="let member of testList; let i= index">

              <ion-col *ngIf="member?.seguro">
                  <ion-item>
                      <ion-label>
                          {{member?.seguro.nombre || 'N/A'}}
                          <ion-checkbox name="id_seguro" color="dark" (click)="selectMember(member)" [(ngModel)]="member.checked"></ion-checkbox>
                      </ion-label>
                  </ion-item>
                </ion-col>
 
         </ion-row>
         <ion-button expand="full"  color="tertiary" type="submit" (click)="VerificarSarlaft()">Continuar</ion-button>
       </form>
       </div> 
      
</ion-content>
    
    