<ion-content padding>


<form #form="ngForm" (ngSubmit)="login(form)">
    

      <ion-row>
        <ion-col size-xs="12">
          <div text-center>
            <img src="/assets/logo_big.svg" width="240">
          </div>
          
        </ion-col>
      </ion-row>


  <ion-row padding>
        <ion-col size-xs="12">
          
          <div>

            

           <form #form="ngForm" (ngSubmit)="login(form)" method="post">            
                <ion-input name="email" type="email" placeholder="Tu correo" ngModel required autofocus></ion-input>
                <ion-input name="password" type="password" placeholder="Contraseña" ngModel required></ion-input>
                <ion-button shape="round" class="shadow-blue" type="submit" fill="solid" expand="full">Acceder</ion-button>
            </form>

          
          
           <div text-center>
          <p>¿No tienes cuenta? <ion-text color="primary" [routerLink]="['/register']">Crea una aquí</ion-text>
          </div>       


          </div>

        </ion-col>
      </ion-row>

   
  </form>
</ion-content>