<ion-header translucent padding class="barra">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Crear seguro</ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>

</ion-header>

<ion-content>
  

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Caracteristicas del prodcuto</ion-card-subtitle>
      <ion-card-title>Crear Seguro</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <form onsubmit="processForm(event)">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked">Título <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Beneficiario <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Caracteristicas</ion-label>
            <ion-input placeholder="Campo obligatorio 1"></ion-input>
           
            <ion-input placeholder="Ciudad"></ion-input>
            <ion-input placeholder="País"></ion-input>
            <ion-input placeholder="Teléfono"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
        </ion-list>

        <div class="ion-padding">
          <ion-button [routerLink]="['/home']" expand="block" class="shadow-blue" type="submit" class="ion-no-margin" shape="round">Crear producto</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>



</ion-content>
