<ion-header translucent padding class="barra">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Modelo Sarlaft</ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>
  
      </ion-toolbar>
  
  </ion-header>
  
  <ion-content>
  
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Formulario Sarlaft</ion-card-subtitle>
      <ion-card-title>Persona natural</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

     <form>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
                <ion-label position="stacked">Lugar de nacimiento<ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="text" [(ngModel)]="nacimiento" id="nacimiento" name="nacimiento"></ion-input>
              </ion-item>
  
              <ion-item>
                <ion-label position="stacked">Nacionalidad<ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="text" [(ngModel)]="nacionalidad" id="nacionalidad" name="nacionalidad"></ion-input>
              </ion-item>
      
              <ion-item>
                <ion-label position="stacked">Dirección de Residencia<ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="text" [(ngModel)]="dirrecion_recidencia" id="dirrecion_recidencia" name="dirrecion_recidencia"></ion-input>
              </ion-item>
      
              
              <ion-item>
                  <ion-label position="stacked">Ciudad<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required type="text" [(ngModel)]="ciudad" id="ciudad" name="ciudad"></ion-input>
              </ion-item>
      
              <ion-item>
                  <ion-label  position="stacked">Oficio o profesión<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required type="text" [(ngModel)]="profesion" id="profesion" name="profesion"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>Actividad</ion-label>
                    <ion-select name="actividad" [(ngModel)]="actividad" id="actividad">
                        <ion-select-option value="independiente">Independiente</ion-select-option>
                        <ion-select-option value="dependiente">Dependiente</ion-select-option>
                    </ion-select>
                  </ion-item>
      
      
                <ion-item>
      
                    <ion-label position="stacked">Empresa donde trabaja<ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required type="text" [(ngModel)]="empresa" id="empresa" name="empresa"></ion-input>
                </ion-item>
      
                <ion-item>
                    <ion-label position="stacked">Cargo<ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required type="text" [(ngModel)]="cargo" id="cargo" name="cargo" ></ion-input>
                </ion-item>
      
                <ion-item>
                    <ion-label position="stacked">Telefono<ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required type="text" [(ngModel)]="telefono_comercial" id="telefono_comercial" name="telefono_comercial"></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-label position="stacked">Dirección comercial<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required type="text" [(ngModel)]="direcion_comercial" id="direcion_comercial" name="direcion_comercial"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="stacked">Ciudad donde trabaja<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required type="text" [(ngModel)]="ciudad_trabajo" id="ciudad_trabajo" name="ciudad_trabajo"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label>Por su cargo o actividad maneja recursos públicos?</ion-label>
                  <ion-select name="recursos_publicos" [(ngModel)]="recursos_publicos" id="recursos_publicos">
                      <ion-select-option value="si">Si</ion-select-option>
                      <ion-select-option value="no">No</ion-select-option>
                  </ion-select>
                </ion-item>

                
              <ion-item>
                  <ion-label>Por su actividad u oficio, goza usted de reconocimiento publico general?</ion-label>
                  <ion-select name="reconocimiento_publico" [(ngModel)]="reconocimiento_publico" id="reconocimiento_publico">
                      <ion-select-option value="si">Si</ion-select-option>
                      <ion-select-option value="no">No</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Por su cargo o actividad ejerce algún grado de poder publico?</ion-label>
                    <ion-select name="poder_publico" [(ngModel)]="poder_publico" id="poder_publico">
                        <ion-select-option value="si">Si</ion-select-option>
                        <ion-select-option value="no">No</ion-select-option>
                    </ion-select>
                  </ion-item>
    
  
        </ion-list>
  
        <div class="ion-padding">
          <ion-button (click)="EnviarSarlaft()" expand="block" class="shadow-blue" type="submit" class="ion-no-margin" shape="round">Guardar Sarlaft</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
  
  
  
  </ion-content>
  