/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.barra{
    background: linear-gradient(to right, #021B79, #054ECE	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.barra-cotiza{
    background: linear-gradient(to right, rgb(0, 12, 56), rgb(0, 9, 26)	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.barra-aseguradoras{
    background: linear-gradient(to right, rgb(104, 0, 202), rgb(64, 0, 148)	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}


.depo {
    background-color:rgba(255, 255, 255, 0);
    border-color: #fffff;
}



 .shadow-blue{
        box-shadow: 0px 14px 25px rgba(68, 131, 224, 0.59);
        border-radius: 30px !important;
        margin-top: 20px;
        
    }


.logout{
    //position: relative;
    margin-top: 100%;
}

p {
    text-transform: capitalize;
}


