<ion-header translucent padding class="barra">
  
    <ion-toolbar color="depo">
      
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>  
        <ion-title color="light">Información - Seguros</ion-title>
        
     <ion-buttons slot="end">
            <ion-button color="light">
            <ion-icon src="/assets/escudito.svg" size="large" name="star"></ion-icon>
            
            </ion-button>
        </ion-buttons>

      </ion-toolbar>

</ion-header>
<ion-content>


  <ion-card *ngFor="let s of seguros; let i = index">


    <ion-item color="secondary">
        <ion-avatar item-start>
            <img src="{{s.logo}}">
        </ion-avatar>
        <ion-badge color="success" slot="end">{{s.nombre}}</ion-badge>
      </ion-item>

    <img src="/assets/a1.jpg">

    <ion-card-content>
      <br> <h2><ion-text color="dark" strong>Informacion:</ion-text></h2>
      <p> Ciudad: <ion-text color="dark">{{s.ciudad}}</ion-text> <br> </p>  
      <p> Dirreción: <ion-text color="dark">{{s.dirrecion}}</ion-text> <br> </p> 
      <p> Teléfono: <ion-text color="dark">{{s.telefono}}</ion-text> <br> </p> 
      <p> Web: <ion-text color="dark"><a href="{{s.web}}">{{s.web}}</a></ion-text> <br> </p> <br> 

    </ion-card-content>
  </ion-card>



</ion-content>
